<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/contrib/auto-render.min.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      $("script[type='math/tex']").replaceWith(function () {
        var tex = $(this).text();
        return "<span class=\"kdmath\">$" + tex + "$</span>";
      });

      $("script[type='math/tex; mode=display']").replaceWith(function () {
        var tex = $(this).text();
        tex = tex.replace('% <![CDATA[', '').replace('%]]>', '');
        return "<div class=\"kdmath\">$$" + tex + "$$</div>";
      });
    });
    $(document).ready(function(){
      renderMathInElement(document.body,{
        delimiters: [
          {left: "$$", right: "$$", display: false},
          {left: "$", right: "$", display: true},
          {left: "[", right: "]", display: false},
          {left: "[[", right: "]]", display: true},
        ]
      })
    });
  </script>
</head>
<body>
  {{ content }}
</body>
</html>
